.formWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 60vh;
  width: 60vh;
  margin-bottom: 35%;
  @media (max-width: 1600px) {
    height: 100%;
    align-items: center;
  }
  @media (max-width: 1440px) {
    height: 65%;
    align-items: center;
  }
  @media (max-width: 1180px) {
    height: 65%;
    align-items: center;
    padding-bottom: 5%;
    margin-bottom: 42%;
  }
  @media (max-width: 1080px) {
    height: 66%;
    align-items: center;
    padding-bottom: 5%;
    margin-bottom: 46%;
  }
  @media (max-width: 980px) {
    height: 66%;
    width: 90%;
    align-items: center;
    padding-bottom: 5%;
    margin-bottom: 50%;
  }
  @media (max-width: 860px) {
    height: 65%;
    width: 100%;
    align-items: center;
    padding-bottom: 5%;
    margin-bottom: 72%;
  }
  @media (max-width: 375px) {
    height: 60%;
    width: 100%;
    align-items: center;
    padding-bottom: 5%;
    margin-bottom: 80%;
  }
}

.nameInput {
  padding: 0.5rem;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.mailInput {
  padding: 0.5rem;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  @media (max-width: 980px) {
    font-size: 2rem;
  }
  @media (max-width: 375px) {
    font-size: 1rem;
  }
}

input[type='text'],
select {
  padding: 0.5rem;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type='submit'] {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #f53ef8;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 8vh;
  width: 20vh;
}

input[type='submit']:hover {
  background-color: #0056b3;
}

.videoOverlay {
  position: absolute;
  bottom: 12.5%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2; /* Make sure it's above other elements */
}

.hidden {
  display: none;
}

.video {
  height: 70%;
  width: 100vh;
}
